<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyz.mapper.CartMapper">
    <select id="getCartByUserId" resultType="com.lyz.bean.Cart">
        select *
        from cartItem
        where userId = #{userId}
        and bookId = #{bookId};
    </select>

    <update id="addCartItemCount">
        update quantity = #{count }
        where userId = #{userId}
        and bookId = #{bookId}
    </update>
</mapper>